<% provide :title do %><%= t("devise_views.sessions.new.title") %><% end %>
<h2><%= t("devise_views.sessions.new.title") %></h2>

<%= render "devise/omniauth_form", action: "sign_in" %>

<div class="small-12 column">
<style>
  .image-background-box {
    /* Use the asset_path helper to correctly reference the image */
    background-image: url(<%= asset_path 'saltire.jpg' %>);
    background-size: cover; /* This makes the image cover the whole div */
    background-position: center; /* This centers the image in the div */
    padding: 40px 20px; /* Adds some space so the content doesn't touch the edges */
    border-radius: 8px; /* Optional: adds rounded corners */
  }
</style>
    <% if ys_configured? %>
<%# Wrap the original div with our new background div %>
<div class="image-background-box">
  <div class="small-12 column">
    <%# This block will only render if your secrets are configured %>

      <p>
        <%= link_to "Sign in with your Young Scot Number", new_ys_login_path, class: "button" %>
      </p>

  </div>
</div>
    <% end %>
</div>


<p>
  <%= sanitize(t("devise_views.shared.links.signup",
                 signup_link: link_to(t("devise_views.shared.links.signup_link"), new_user_registration_path))) %>
</p>



<div id="admin_login" style="visibility:<%= Setting.hide_local_login? ? "hidden" : "visible" %>">

  <h2><%= t("devise.sessions.local_sign_in_title") %></h2>
  <p><%= t("devise.sessions.local_sign_in_description") %></p>

  <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
    <div class="row">
      <div class="small-12 column">
        <%= f.text_field :login, autofocus: true %>
      </div>

      <div class="small-12 column">
        <%= f.password_field :password, autocomplete: "off" %>
        <%= link_to t("devise_views.shared.links.new_password"), new_password_path(resource_name), class: "float-right" %>
      </div>

      <% if devise_mapping.rememberable? -%>
        <div class="small-12 column">
          <%= f.check_box :remember_me, label: t("devise_views.sessions.new.remember_me") %>
        </div>
      <% end -%>

      <div class="small-12 medium-6 small-centered">
        <%= f.submit(t("devise_views.sessions.new.submit"), class: "button expanded") %>
      </div>
    </div>
  <% end %>

  <%= render "devise/shared/links" %>

</div>

<button onclick="displayAdminLogin()">Consul Officer</button>

<script>
  function displayAdminLogin() {
      const div = document.getElementById("admin_login");
      div.style.visibility = div.style.visibility == "hidden" ? "visible" : "hidden";
  }
</script>
