<%# Matches Poll Form Structure %>
<%= form_with model: [:admin, @event], local: true do |f| %>

  <%= render "shared/errors", resource: @event %>

  <div class="row">
    <div class="clear">
      <div class="small-12 medium-6 column">
        <%= f.datetime_field :starts_at %>
      </div>

      <div class="small-12 medium-6 column">
        <%= f.datetime_field :ends_at %>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="small-12 medium-6 column">
      <%= f.label :name %>
      <%= f.text_field :name %>
    </div>

    <div class="small-12 column">
      <%= f.label :description %>
      <%= f.text_area :description, rows: 8, class: "html-area" %>
    </div>
  </div>

  <div class="row">
    <div class="small-12 column">
      <%# This works because we added 'include Imageable' to the Event model %>
      <%#= render Images::NestedComponent.new(f) %>
    </div>
  </div>

  <div class="row">
    <div class="clear">
      <div class="small-12 medium-4 large-2 column">
        <%= f.submit t("events.#{action_name}.submit_button", default: "Save Event"),
                     class: "button success expanded margin-top" %>
      </div>
    </div>
  </div>

<% end %>
