<h2 class="inline-block">Manage Events</h2>
<%= link_to "New Event", new_admin_event_path, class: "button float-right success" %>
<table>
  <thead>
  <tr>
    <th><%= t("admin.events.event.name") %></th>
    <th><%= t("admin.events.event.start_date") %></th>
    <th><%= t("admin.events.event.description") %></th>
    <th><%= t("admin.actions.actions") %></th>
  </tr>
  </thead>
  <tbody>
  <% @events.each do |event| %>
    <tr>
      <td><%= event.name %></td>
      <td><%= event.starts_at %></td>
      <td><%= truncate(strip_tags(event.description), length: 100) %></td>
      <td>
        <%= render Admin::TableActionsComponent.new(event) %>
      </td>
    </tr>
  <% end %>
  </tbody>
</table>
