<h2 class="inline-block">Manage Events</h2>
<%= link_to "New Event", new_admin_event_path, class: "button float-right success" %>

<table>
  <thead>
  <tr>
    <th>Name</th>
    <th>Start Date</th>
    <th>Actions</th>
  </tr>
  </thead>
  <tbody>
  <% @events.each do |event| %>
    <tr>
      <td><%= event.name %></td>
      <td><%= l event.starts_at, format: :short %></td>
      <td>
        <%= link_to "Edit", edit_admin_event_path(event) %> |
        <%= link_to "Delete", admin_event_path(event), method: :delete, data: { confirm: "Are you sure?" } %>
      </td>
    </tr>
  <% end %>
  </tbody>
</table>
