<h1><%= t("budgets.select.title") %></h1>

<p><%= t("budgets.select.proposal_name") %>: <%= @proposal.title %></p>
<% if @budgets.any? %>
<%= form_with url: select_headings_budgets_path, method: :get, local: true do |form| %>
  <div class="small-12 medium-6 column">
    <%= form.collection_select :budget_id, @budgets, :id, :name, prompt: t("budgets.select.choose_budget"), label: t("budgets.select.select_budget") %>
  </div>

  <%= form.hidden_field :proposal_id, value: @proposal.id %>

  <div class="actions" style="clear: both;width: 100%; text-align: left;">
    <%= form.submit t("budgets.select.next") %>
  </div>
<% end %>
<% else %>
  <p class="alert alert-info"><%= t("budgets.select.no_budgets") %></p>
<% end %>
