<% provide :main_class, "admin-dashboard-index" %>
<%= header(skip_section_title: true) %>

<p><%= t("admin.dashboard.index.description", org: setting["org_name"]) %></p>

<%= info %>

<address>
  <%= email_link %>
  <%= website_link %>
</address>
<h2>About</h2>
<p> Consul Democracy is provided in Scotland by COSLA<p>
<%# --- Consul Version Block (Using the new info hash) --- %>
<% if !@consul_version_info[:error] %>
  <p>
    Current Release: <strong><%= link_to @consul_version_info[:text], @consul_version_info[:url], target: "_blank" %></strong>
  </p>
<% else %>
  <p class="warning"><%= @consul_version_info[:text] %></p>
<% end %>

<%# --- Local Version Block (Using the new info hash) --- %>
<% if !@local_version_info[:error] %>
  <p>
    Local Release: <strong><%= link_to @local_version_info[:text], @local_version_info[:url], target: "_blank" %></strong>
  </p>
<% else %>
  <p class="warning"><%= @local_version_info[:text] %></p>
<% end %>
<h2>Read the documentation </h2>
<address>
  <%= documentation_link %>
</address>
<h2> Get help </h2>
<address>
  <%= support_link %>
</address>