<td style="<%= css_for_mailer_content %>">

  <h1 style="<%= css_for_mailer_heading %>">
    <%= t("mailers.proposal_published.title") %>
  </h1>

  <p style="<%= css_for_mailer_text %>">
    <%= sanitize(
      t("mailers.proposal_published.intro", author: @proposal.author.name)
    ) %>
  </p>

  <p style="<%= css_for_mailer_text %>">
    <%= sanitize(
      t("mailers.proposal_published.text",
        proposal: @proposal.title)
    ) %>
  </p>

  <p style="<%= css_for_mailer_text %>">
    <%= sanitize(
      t(
        "mailers.budget_investment_created.follow",
        link: link_to(t("mailers.proposal_published.follow_link"),
                      proposal_url(@proposal),
                      style: css_for_mailer_link)
      ),
      attributes: %w[href style]
    ) %>
  </p>
<%= t("mailers.new_actions_notification_on_published.hi",
          name: @proposal.author.name,
          title: @proposal.title) %>
  </p>
  <p>
    <%= t("mailers.new_actions_notification_on_published.text_1") %>
    <br>
    <%= t("mailers.new_actions_notification_on_published.text_2") %>
  </p>
  <p><%= t("mailers.new_actions_notification_on_published.text_3") %></p>
  <p><%= t("mailers.new_actions_notification_on_published.text_4") %></p>
  <p><%= t("mailers.new_actions_notification_on_published.text_5") %></p>
  <p><%= t("mailers.new_actions_notification_on_published.text_6") %></p>
  <ul>
    <li><%= t("mailers.new_actions_notification_on_published.list_1") %></li>
    <li><%= t("mailers.new_actions_notification_on_published.list_2") %></li>
  </ul>
  <br>


  <p><%= t("mailers.new_actions_notification_on_published.text_10") %></p>

  <table style="width: 100%;">
    <tbody>
      <tr>
        <td style="padding-bottom: 12px; padding-top: 24px; text-align: center;">
          <%= link_to progress_proposal_dashboard_url(@proposal),
                      style: "font-family: 'Open Sans',arial,sans-serif; background: #3700fd;" \
                             "border-radius: 6px; color: #fff !important; font-weight: bold;" \
                             "padding: 17px 20px; text-align: center; text-decoration: none;" \
                             "font-size: 20px; min-width: 200px; display: inline-block;" do %>
            <%= t("mailers.new_actions_notification_on_published.dashboard_button") %>
          <% end %>
        </td>
      </tr>
    </tbody>
  </table>

</td>
  <table style="width: 100%;">
    <tbody>
      <tr>
        <td style="padding-bottom: 12px; text-align: center;">
          <%= link_to proposal_url(@proposal, anchor: "social-share"), style: css_for_mailer_button do %>
            <%= t("mailers.proposal_published.share") %>
          <% end %>
        </td>
      </tr>
    </tbody>
  </table>

  <p style="<%= css_for_mailer_text %>">
    <%= t("mailers.proposal_published.sincerely") %>
  </p>
</td>